.wrapper

  = render 'shared/chat-side'
  .chat-main
    .main-header{"data-group_id": @group.id}
      .main-header__left-box
        %h2.main-header__left-box__current-group
          = @group.name
        %ul.main-header__left-box__member-list
          Member：
          - @group.users.each_with_index do |group_user,i|
            %li.main-header__left-box__member-list__member
              = group_user.name
            
            
      =link_to edit_group_path(@group) do 
        .main-header__edit-btn Edit
        
    .messages
      = render @messages
      -# 省略せずに記述すると「= render partial: 'message', collection: @messages」
    
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, id: 'message_content', placeholder: 'type a message'
        .input-box
          = f.label :image, class: 'input-box__image' do
            = fa_icon 'picture-o', class: 'fa fa-image'
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn', onsubmit: "return checkNijyuSubmit();"
